.chat-main
  .main-header
    .main-header__group
      %p.main-header__group--name
        = @group.name
      %p.main-header__group--member
        Member :
        - @group.users.each do |user|
          = user.name
    .main-header__edit
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      .form__input
        = f.text_field :content, class: 'form__input--text', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          .form__input--far
            %i.far.fa-image
            = f.file_field :image, class: 'form__input--file'
          = f.submit 'Send', class: 'form__input--btn'